 


body{
    font-family:Arial,Helvetica,sans-serif;
    padding: 0 2em;

    --blue: rgb(77, 99, 208);
    --grey: rgb(157, 157, 157);

    margin:0;

    padding-bottom: 5vh;
}

#logo{
    display: flow-root;

}

#sky{
    position:absolute;
    left:0;
    top:-30vh;
    left: -20vw;
    width:120vw;
    height: 30vh;
    box-shadow: 0 0 30vh var(--blue);
    
    z-index: -100;
}

h1{
    /* color:var(--blue); */
    border-bottom: .3em solid var(--blue);
    display: initial;
}
h2{
    margin-top:1.5em;
}

#face,#bar{
    height: 30vh;
    width:30vh;
}

#face{
    height: 30vh;
    background-image: url("icon.svg");

    float:left;
}


#bar{
    background-image: url("bar.svg");
    width: calc(100% - 30vh);
    float:right;

    /* padding-top: 21.75vh; */
    /* margin-left:30vh; */
}



#content{
    text-align: left;
    margin-left:14vh;
    margin-right: 30vh;
}

.text{
    padding-top: 5vh;
    padding-left:7vh;
    padding-right: 10vh;
    font-size: 1.2em;
    font-weight: 500;
    max-width: 80vh;
}

.text_end{

    position:relative;
    width: 7vh;
    height: .7em;
    left:-7vh;

    background-color: var(--blue);
}

#content_table{

    position: fixed;
    top:30vh;
    left:calc(100% - 30vh);

    font-weight: bold;
    font-size: 1.2em;

    border-left: .5em solid var(--blue);
    padding-left: 1em;

}

#content_table>p{
    padding: 0;
    margin: .2em 0 ;
}

a{
    all:unset;
    cursor: pointer;
}


#footer{
    text-align: center;
    padding-top:4em;
    color:var(--grey);
}
#footer>a{
    padding-left: 2em;
}

.grey{
    color:var(--grey);
}

.mail:hover{
    color:var(--blue);
}
